<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
</head>
<body>
    <h1>teaher course list</h1>
    {{user.first_name}}
    {% if select_course %}
    {% for sc in select_course %}
    <p>You have purchased the {{ sc.course.title }} course.</p>
  {% endfor %}
    
    {% else %}
    <p>select_course is None</p>
    {% endif %}

    


{% if select_course %}
<h2>Course list are:</h2>
<ul>
{% for course in courses %}
<li>{{ course.title }}</li>
{% endfor %}
</ul>
{% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <br><br>
    <h1>Course List</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Instructor</th>
          <th>Duration</th>
          <th>Price</th>
          <th>Category</th>
          <th>Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.duration }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.category }}</td>
            <td>{{ course.level }}</td>
            <!-- <td><a href="{% url 'user:purchase_course' course.id %}">Select</a></td> -->
            <td><a href="{% url 'user:selectCourse' course.id %}">Select</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="8">No courses found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>